@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-primary: #2563eb;
    --color-primary-dark: #1f2937;
    --color-secondary: #fafafa;
    --color-tertiary: #333;
    --color-light: #f3f4f6;
    --color-muted: #6b7280;
    --color-text: #49494975;
    --color-background: #cccccc33;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-button-hover: #000;
    --color-danger: #ff1313;
    --color-footer-link: #3b82f6;
    --color-footer-link-hover: #2563eb;
    --color-button-shadow: #052e67bc;
    --color-inset-shadow: #011d4542;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #333;
}

/* Header */
header {
    display: flex;
    background-color: #1f2937;
    color: #fafafa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1.2rem;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.input-list {
    position: relative;
}

.input-list i {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 16px;
    color: #49494975;
}

header button, header input {
    display: flex;
    justify-content: center;
    
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

header input {
    width: 220px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

header button {
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9rem;
    width: 200px;
}

header button:hover {
    background-color: transparent;
    transform: scale(1.02);
    border: 1px solid #fff;
}

header input::placeholder {
    color: #6b7280;
}

header img {
    width: 120px;
}

/* Main Content */
main {
    background-color: #fafafa;
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.news-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    max-width: 1200px;
}

.news-card {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card h3 {
    color: #333;
    font-size: 1.2em;
}

.news-card p {
    color: #555;
    font-size: 0.9em;
    margin-bottom: -200px;
}

button.saiba-mais {
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: #2563eb;
    color: #fafafa;
    max-width: 100%;
    box-shadow: 0 0 10px #ccc;
    transition: 0.4s ease-in-out;
    margin-top: 20rem;
}

button.saiba-mais:hover {
    background-color: #1f2937;
    color: #fafafa;
}

button.delete-news {
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: #ff1313;
    color: #fafafa;
    max-width: 100%;
    box-shadow: 0 0 10px #ccc;
    transition: 0.5s ease-in-out;
}

button.delete-news:hover {
    background-color: #1f2937;
    color: #fafafa;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.586);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 32px 16px;
    border-radius: 20px;
    max-width: 100%;
    line-height: 24px;
    position: relative;
    gap: 32px;
}


form#categoryForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form#newsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    gap: 10px;
}

.containerCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}


.containerTitle-SubTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.containerAuthor-Date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

label {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
}

select#newsCategoryTitle {
    background-color: #cccccc33;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    outline: none;
}

select#newsCategorySubtitle {
    background-color: #cccccc33;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    outline: none;
}

input#categoryTitle {
    background-color: #cccccc33;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    min-width: 352px;
}

input#categorySubtitle {
    background-color: #cccccc33;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    min-width: 352px;
}


input#newsAuthor {
    background-color: #cccccc33;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    outline: none;
}

input#newsDate {
    background-color: #cccccc33;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    outline: none;
}

textarea#newsDescription {
    background-color: #cccccc33;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins';
    outline: none;
    width: 100%;
    height: auto;
}

button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #2563eb;
    color: #fafafa;
    font-family: 'Poppins';
    font-weight: 600;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none !important;
}

footer a:hover {
    color: #2563eb;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-actions {
        display: flex;
        padding: 5px;
    }

    header input {
        width: 200px;
    }

    header img {
        width: 100px;
    }

    .nav-list {
        display: none;
    }

    .input-list {
        position: relative;
    }
    
    .input-list i {
        position: absolute;
        top: 12px;
        left: 430px;
        font-size: 16px;
        color: #49494975;
    }

    button {
        padding: 10px;
        border-radius: 30px;
        border: none;
        background-color: #2563eb;
        color: #fafafa;
        font-family: 'Poppins';
        font-weight: 600;
        border: none;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
    }

    .button-list-1 {
        display: flex;
        justify-content: center;
        margin: 1.5rem auto;
    }

    .button-list-2 {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .input-list {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .mobile-menu-icon {
        background-color: transparent;
        display: block;
    }

    .mobile-menu-icon button {
        background-color: #ffffff00;
        width: 60px;
        height: auto;
    }

    .mobile-menu-icon button:hover {
        border: none;
    }

    .open {
        display: block;
    }

    
.containerTitle-SubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.containerAuthor-Date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

}

@media (max-width: 600px) and (min-width: 425px) {
    .input-list {
        position: relative;
    }
    
    .input-list i {
        position: absolute;
        top: 12px;
        left: 260px;
        font-size: 16px;
        color: #49494975;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fafafa;
        font-size: 0.8rem;
        font-family: 'Poppins';
        font-weight: 500;
        padding: 24px 16px;
        border-radius: 20px;
        max-width: 100%;
        line-height: 24px;
        position: relative;
        gap: 32px;
    }

    button {
        padding: 10px;
        border-radius: 30px;
        border: none;
        background-color: #2563eb;
        color: #fafafa;
        font-family: 'Poppins';
        font-weight: 600;
        border: none;
        max-width: 350px;
        cursor: pointer;
        transition: 0.5s;
    }

    .containerAuthor-Date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    input#categoryTitle {
        background-color: #cccccc33;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 30px;
        outline: none;
        width: 350px;
    }
    
    
    select#newsCategoryTitle {
        background-color: #cccccc33;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border: none;
        border-radius: 30px;
        padding: 10px;
        outline: none;
        width: 350px;
    }

    input#categorySubtitle {
        background-color: #cccccc33;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 30px;
        outline: none;
        width: 350px;
    }

    textarea#newsDescription {
        background-color: #cccccc33;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-family: 'Poppins';
        outline: none;
        height: auto;
        max-width: 350px;
    }

    button {
        width: 92vw;
    }
}

@media (max-width: 412px) and (min-width: 375px) {
    .input-list {
        position: relative;
    }
    
    .input-list i {
        position: absolute;
        top: 12px;
        left: 240px;
        font-size: 16px;
        color: #49494975;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        min-height: 50vh;
    }

    button {
        padding: 10px;
        border-radius: 30px;
        border: none;
        background-color: #2563eb;
        color: #fafafa;
        font-family: 'Poppins';
        font-weight: 600;
        border: none;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;
    }

    .containerAuthor-Date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .containerTitle-SubTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    select#newsCategoryTitle {
        background-color: #cccccc33;
        height: 40px;
        border: none;
        border-radius: 30px;
        padding: 10px;
        outline: none;
        width: 350px;
    }

    select#newsCategorySubtitle {
        background-color: #cccccc33;
        height: 40px;
        border: none;
        border-radius: 30px;
        padding: 10px;
        width: 350px;
        outline: none;
    }

    textarea#newsDescription {
        background-color: #cccccc33;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-family: 'Poppins';
        outline: none;
        min-width: 85vw;
        height: auto;
    }

    button {
        min-width: 10vw;
    }

}
